/* Text Colors */
.text-geek {
  font-family: courier;
  font-size: 30px;
  ;
} 

.text-primary {
  color: #b6e2c5;
}

.text-secondary {
  color: #333;
}

.bg-light {
  background: #fff;
  color: #333;
}

.bg-dark {
  background: #B5E2C5;
}

.bg-grey {
  background: #f2f2f2;
  color: #333;
}

/* buttons */

.btn-dark {
  font-size: 14px;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: grey;
  color: white;
  border: none;
}

.btn-primary {
  font-size: 14px;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #b6e2c5;
  color: #333;
  border: none;
}

/* Flex Items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex Columns */

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 90%;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/* Section header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color: #333;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}

/* Flex Grid */

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}